<html lang="en">
 <HTml style="color: brown; font-size: xx-large;"> 
  E-Commerce : login Page
</HTml>

<div style="display: block;"> 
  <form>

  </form>
</div>

<!-- login.html -->
<body style="color: brown; font-size: x-large;">
    <h2>Login</h2>
    <form method="post" action="/auth">
        <label for="username">Email:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <button type="submit">Login</button>
    </form>
</body>
  <form method="get" action="/signup/seller">
  <button type="submit">Signup as a Seller</button>
</form>
  <form method="get" action="/signup/buyer">
  <button type="submit">Signup as a Buyer</button>
</form>

</html>
