<html lang="en">
 <HTml style="color: brown; font-size: xx-large;"> 
  Welcome to  E-Commerce : Signup as a Buyer
</HTml>



<div style="display: block;"> 
  <form>

  </form>
</div>



<body style="color: brown; font-size: x-large;">
    <h2>signup as Buyer</h2>
    <form method="post" action="/signup/buyer">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <input type="hidden" id="role" name="role" value="client">

        <button type="submit">Login</button>
    </form>
</body>

</html>
